* {
    margin: 0;
    padding: 0;
}

body {
    margin: 40px;
    padding: 75px;
}

header {
    width: 100%;
    overflow: hidden;
    height: 111px;
    background: #e5e5e5;
    margin-bottom: 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

header .logo {
    float: left;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    display: inline-block;
    color: #232323;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.5s;
    transform: translateY(5%);
}

header nav a:hover {
    color: #f02425;
}

.banner {
    height: auto;
    max-width: 95%;
    }